html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
        title Library
    body(style="background-image: linear-gradient(#fff3b0,#ffffff)")   
        nav.navbar.navbar-expand-sm.navbar-light(style="z-index: 10; font-weight: 400; background-color: #ff7f50 !important")
                a.navbar-brand(href='/') Exchange Books
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', 
                aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href='/') Home
                        li.nav-item
                            a.nav-link(href='/profile') Profile 
                        li.nav-item
                            a.nav-link.ml-100(href='/library') Library
                        li.nav-item
                            a.nav-link.ml-100(href='/transactions') Transactions 
                                     
        .container.pt-5
            block content
